/* .feed {
   column-count: 3;
   grid-template-rows: 90;
   column-gap: 1px;
   column-rule-style: solid;

} */

ul#listItems {
    text-align: center;
    color: rgb(226, 226, 226);
    padding: 3px;
    padding-bottom: 5px;
    
};

/* unvisited link */
a:link {
    color: rgb(53, 53, 255);
}

/* visited link */
a:visited {
    color: rgb(161, 4, 161);
}

  /* mouse over link */
a:hover {
    color: hotpink;
}

  /* selected link */
a:active {
    color: green;
}