.list-group-name:nth-child(even) {
  background: rgb(191, 191, 191, 50%);
}

.list-group-name:nth-child(odd) {
  background: rgb(144, 144, 144, 50%);
}

.autoscroll-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #a5a5a5;
}

.autoscroll-container::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px;
  background-color: #4e4e4e;
}

.autoscroll-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #272727;
}

.item-name-parent {
  height: 84vh;
  overflow-y: scroll;
}

.item-name {
  width: 90%;
  white-space: pre;
  overflow: hidden;
  text-overflow: unset;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(0, 9, 136), rgb(39, 99, 230));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Newegg {
  color: #000000;
  font-weight: bold;
}

.BestBuy {
  color: #000000;
  font-weight: bold;
}

.updateSpan {
  font-weight: bold;
  padding-left: 10%;
}

.items-button {
  float: right;
}

/* #alertAppend{
} */
.main-container {
  display: flex;
}

.left-container {
  flex: 0 1 50%;
  min-height: 100%;
  max-width: 50%;
}

.right-container {
  margin: auto;
  flex: 0 1 50%;
  height: 100%;
  max-width: 50%;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: center;
  height: 84vh;
}

.first-Line {
  display: flex;
  justify-content: space-between
}

.priceDiv {
  font-weight: bold;
}

.cardHead {
  background: #909090 !important;
  font-weight: bold;
}

.scrollBtns {
  height: 50px;
  font-weight: bold;
  background: rgb(107, 107, 107, 10%);
  border-style: hidden;
  text-shadow: .12px .15px black;
}

.cardBody {
  background: #bfbfbf;
}
.card{
  background-color: transparent !important;
}