.Login{
    display: flex;
    justify-content: center;
}
.formContainer{
    text-align: center;
    margin-top: 3%;
    display: block;
    min-height: 10em;
    width: 30%;
    padding: 75px;
    background-color: rgb(255,255,255, .015);
    line-height: 250%;
}
.form-label{
    font-weight: bold;
    font-size: large;
}
#email{
    background-color: rgb(255,255,255, .25);
    color: black;
    font-weight: 500;
}
#password{
    background-color: rgb(255,255,255, .25);
    color: black;
    font-weight: 500;
}
#email::placeholder{
    color: black;   
}
#password::placeholder{
    color: black;   
}
